<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>header_KEY</key>
	<string></string>
	<key>CategoryAPI_KEY</key>
	<string></string>
	<key>FoodDbAPI_KEY</key>
	<string>F%2Fl3ZLO9%2FhXg%2BaVY%2FrrO6OR949MJzDvWQUzVZsh3lNQHHHC950O2kyl5TCipWM51RkRQyGjwIZLwrOYWDSgvHQ%3D%3D</string>
	<key>BASE_URL</key>
	<string>https://sikmogil.duckdns.org</string>
</dict>
</plist>
